---
import BaseLayout from "../layouts/BaseLayout.astro";
import PromosFilters from "../components/home/PromosFilters.astro";
import PromosResults from "../components/home/PromosResults.astro";

const { searchParams } = new URL(Astro.request.url);
const city = searchParams.get("city") ?? "";
const at = searchParams.get("at") ?? "";
---

<BaseLayout title="Tus promos | Promos activas">
  <section class="grid gap-6" data-redeploy="1">
    <PromosFilters city={city} at={at} />
    <PromosResults />
  </section>

  <script>
    import "../scripts/promos.ts";
  </script>
</BaseLayout>
