---
import BaseLayout from "../layouts/BaseLayout.astro";
import AuthForm from "../components/auth/AuthForm.astro";
import LoginAside from "../components/auth/LoginAside.astro";
---

<BaseLayout title="Tus promos | Iniciar sesión">
  <section class="grid gap-8 lg:grid-cols-[1fr,1fr]">
    <LoginAside />
    <AuthForm mode="login" submitLabel="Entrar" />
  </section>

  <script type="module" src="/auth.js" is:inline></script>
</BaseLayout>
